*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-white);
  color: var(--color-dark-gray);
}

p,
img,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --font-primary: "Nunito", sans-serif;
  --color-white: #ffffff;
  --color-red: #ed7117;
  --color-light-gray: #f5f5f5;
  --color-gray: #c4c4c4;
  --color-dark-gray: #3a3a3a;
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
