.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  max-width: 956px;
  width: 100%;
  height: 540px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  min-height: 320px;
  border: 1px solid var(--color-red);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0;
  overflow-y: scroll;
  padding: 15px;
}

.messages::-webkit-scrollbar {
  width: 6px;
}

.messages::-webkit-scrollbar-thumb {
  background: #d7d7d7;
  border-radius: 10px;
}

.dateGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.dateHeader {
  font-size: var(--font-size-xs);
  background-color: var(--color-light-gray);
  padding: 2px 12px;
  margin: 10px 0;
  border-radius: 20px;
  width: fit-content;
  align-self: center;
}
