.wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 0;
  border: 1px solid var(--color-red);
  width: 100%;
  height: 34px;
  position: relative;
}

.icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-red);
  width: 34px;
  height: 34px;
  border-radius: 5px;
}

.input {
  flex: 1;
  border: none;
  font-size: var(--font-size-md);
  outline: none;
  margin: 0px 15px;
}

.hiddenInput {
  display: none;
}

@media (max-width: 390px) {
  .icons {
    gap: 10px;
  }
  .input {
    margin-left: 2px;
  }
}
