.emojiPicker {
  position: absolute;
  bottom: 50px;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-red);
  border-radius: 8px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  z-index: 10;
  animation: slideUp 0.3s ease;
}

.emojiItem {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.1s;
}

.emojiItem:hover {
  transform: scale(1.2);
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
