.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.wrapper:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  position: relative;
  top: 10px;
}
