.header {
  background-color: var(--color-red);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  height: 55px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info {
  display: flex;
  align-items: center;
  gap: 12px;
}
